<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}QR Code Generator{% endblock title %}</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    {% include "base/style.html" %}
  </head>
  <body>
    {% include 'base/navbar.html' %}
    <div>{% block content %} {% endblock content %}</div>
    {% include 'base/scripts.html' %} 
    {% block scripts %}{% endblock %}
  </body>
</html>
